.top_wrapper{
    background-color:blueviolet;
    height: 50px;
}
.left {
padding-top:15px;
margin-left: 80px;
}
.left a{
text-decoration: none;
color: white;
}
.right{
    float: right;
    margin-right: 80px;
   
}
.right a img{
    height:20px;
    width: 20px;
    
}



.flex-container form {
   align-items: center;
   background-color: wheat;
   border-radius:3px;
  
}
.flex-container form input{
border: none;
outline: none;
background: transparent;
width: 130px;



}
.flex-container form i{
    color:lightslategray;
    cursor: pointer;
}
#wrap{
    animation:blink 2s linear infinite;
}
@keyframes blink{
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0.8;
    }
}

.run{
    width: 100%;
    background-color: tomato;
    height: 25px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
   

}
.run div:hover{
    animation-play-state: paused;
}
.run div{
       
    animation: animate 20s linear infinite;
   
}
@keyframes animate{
    100%{
        transform: translate(100%,0);
    }
    }

.flex-container {
    display: flex;
    margin-left: 60px;
    color: white;
    align-items: center;
   

}

.flex-container a{
    text-decoration: none;
    align-items: center;
    padding-inline: 15px;
    color: black;
    
}
    
.flex-container img{
    height: auto;
    width: 80px;

}

.contain{
display: flex;
margin-left: auto;
align-items: center;
margin-right: 60px;
    
}

 .fa-magnifying-glass{
    align-items: center;
}
.buttons button{
   
    background-color: tomato;
    color: white;
    border-radius: 4px;
    height: 30px;
    width: 60px;
    border: none;
  

}
.buttons {
    padding-inline: 20px;
   
}
.flex-container .buttons{
    align-items: center;
}

.slider{
    height: 400px;
    position: relative;
    display: grid;
    place-items:center;
    width:100%;
    overflow: hidden;
    /* margin-top: 220px; */
  
}
.slider-track{
    display: flex;
    /* width: calc(300px * 16); */
    animation: scroll 90s linear infinite;
}
.slide{
    height:300px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline:10px;
    perspective: 13px;
   
}
.slide img{
    height: 400px;
    width:350px;
    transition: transform 1s;
}
@keyframes scroll {
  
    100%{
        transform: translateX(calc(-250px * 16));
    }
    
}
.slide img:hover{
    transform: translateZ(1px)
}
.slider-track:hover{
    animation-play-state: paused;
}
.nav ul  {
    display: flex;
    list-style-type: none;
}
.nav ul li{
padding-inline-start: 30px;

}
.nav ul li a{
    
    text-decoration: none;
    color:blueviolet;
}
.nav{
    padding-top: 10px;
}
.drop {

    display: none;
    left: 0;

  
}.drop ul {
    flex-direction:column;
     display:inline-flex;
     list-style-type: none;
}
.nav ul .drop1:hover .drop{
    display:block;
     position: absolute;
    background-color:white;
    z-index: 1;
 
}
.bottom-text {
    line-height: 15px;
    padding-top: 20px;
    margin-left: 35px;
}


.carousel{
width: 100%;
margin-top: 30px;
cursor: pointer;

}
.carousel img{
    height: 350px;
    width: 400px;
}
.carousel{
display: flex;
overflow-x: scroll;
/* scroll-snap-type:x mandatory; */
}
.carousel img{
    padding-inline-start: 20px;
    /* transition: transform 5s; */
}
.carousel::-webkit-scrollbar{
    display: none;
}
#leftBtn,#rightBtn {
    height:40px;
    width:40px;
    cursor: pointer;
    margin: 10px;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.div{
    line-height: 10px;
   margin-left: 50px;
}
#photo {
    display: flex;
    height: 400px;
   justify-content: space-around;
overflow: hidden;
   
}

.ramjan{

   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;

   
}
.ramjan img{
 margin: 50px;
 width: 1500px;

}
.luxe{
    margin-top: 20px;
    height: 650px;
    background-color:bisque;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
}
.dyson{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 15px;
   
}
.dyson img{
    height: 90px;
    width: 120px;
}
.spring {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
}
.spring img{
    padding-inline-start: 10px;
    border-radius: 20px;
}
.Btn {
text-align: center;
margin-top: 30px;
}
.Btn button{
    background-color: rgb(148, 125, 125);
color: aliceblue;
outline: none;
border:none;
border-radius: 5px;
}
.Btn button i{
   justify-content: center;
   padding-inline-start: 5px;
}
*
{
    margin: 0;
    padding: 0;

}
.cell{
    width: 350px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 25px;
 padding-inline: 20px;

}
.cell img{
object-fit: cover;
overflow: hidden;

}
#caro{
    margin: 25px;
}
.alertbox{
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    height: 80px;
    justify-content: center;
    align-content: center;
    margin-top:35px;

}
.alertbox div{
    color:tomato;
    font-family: "Sedan", serif;
 font-weight: 600;
}
.inbox
{
    background-color:rgb(58,64,71);
    height: 200px;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: baseline;
 margin-top: 25px;
 
}
.discounts img {
   height: 35px;
   width: 35px;
  }
  .formated{

    width: 240px;
    height: auto;
 
  }
  .discounts{
    align-content: center;
  }
  .formated input {

    background-color:  rgb(58,64,71);
    border-collapse: collapse;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    caret-color: white;

  }
  .formated  ::placeholder{
   color: white;
   font-weight: 400;
   
  }
  .inbox span{
    color: white;
  }
  .inbox button{
    background-color: rgb(58,64,71);
    color: white;
    height: 35px;
    width: 45px;
    border: 1px solid white;
}
.mobile-app img{
height:35px;
width: 35px;
}
.mobile-app div img{
    height:40px;
    width: 150px;
    }
.mobile-app div {
    display: flex; 
justify-content: center;
   
}
.mobile-app div img{
 margin: 5px;
}

.callus {
    display: flex;
    line-height: 5px;
}
.callus div{
    padding-inline: 5px;
}